svg
{
	border:solid 1px black;
	background-color: #EFE;
	width:640px;
	height:480px;
	margin-left: 50px;
}
#svg2
{
	background-color: #FFF;
	width:240px;
	height:200px;	
}
button
{
	display:block;
	border:solid 1px black;
	margin:1px;
	border-radius: 2px;
}
button:hover
{
	background-color: #444400;
	color:white;
}
.righty
{
	display: inline-block;
}
.notes
{
	font-family: "Segoe UI Light","Helvitica Neu",sans-serif;
	display:inline-block;
	vertical-align:top;
}